@import "./utils/variables";
@import "./layout/header";

/*
@media (max-width: 599px) {
 .proj-grid {
    grid-template-columns:1fr;
    }
    }
*/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.explorer{
    border-top: 2px map-get($color , bordure_ville);
    border-top-style: groove;
    text-align: center;
    background-color: map-get($color , fond_card );
    
    &__ville{
        display: flex;
        justify-content: center;
        background-color: map-get($color , fond_ville );
        p{
            margin-left: 20px;
        }
        .fas{
            margin-top: 15px;
        }
    }
    &__lib-reserve{
        font-size: 22px;
        padding-top: 20px;
        h3{
            margin: 10px;
        }
    }
    /*
    .explorer__lib-decouverte{
        text-align: center;
    }*/
}
.fonctionnement{
    h3{
        margin-left: 20px;
    }
   /* .fonctionnement__liste{*/
        &__btn{
            justify-content: space-around;
        }
   /* }*/
}