.header{
    display: flex;
    justify-content: center;
    &__logo{
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    }
}



body{
    font-family: "Roboto" sans-serif;
    margin: 0;
    animation: hide 5s linear forwards;
}

@keyframes hide{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}