

    
.bouton {
    display: table;
    margin: auto;
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    min-width: 200px;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient(170deg, $color_secondaire, $color_primaire);
    box-shadow: 5px 5px 15px $color_ombre;
    a{
        color: $color_police_btn;
    }
    &:hover {
        transform: scale(1.03);
    }
}