//.loader{
//    position: absolute;
 //   margin: 80px;
//}
.loader {
    position: absolute;
    margin: 300px 45%;
    border: 12px solid transparent;
    border-top: 12px solid $color-primaire;
    border-bottom: 12px solid $color_secondaire;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spinner 1s linear ;
    animation-fill-mode: forwards;
    animation-iteration-count: 4;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    99.9% { 
        transform: rotate(360deg); 
        opacity: 1;
     }
    100% {opacity: 0;}
  }
  

.explorer{
    border-top: 2px $color_bordure_ville;
    border-top-style: groove;
    text-align: center;
    background-color: $color_fond_card;
    padding-bottom: 60px;
    &__ville{
        display: flex;
        height: 45px;
        justify-content: center;
        background-color: $color_bordure_ville;
        p{
            margin-left: 20px;
            margin-top: 12px;
            font-weight: 400;
        }
        .fas{
            margin-top: 12px;
        }
    }
    &__lib-reserve{
        font-size: 20px;
        padding-top: 14px;
        margin-left: 30px;
        margin-right: 30px;
        h3{
            margin-bottom: 0;
        }
    }

    &__lib-decouverte{
        p{
            font-weight: 100;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }

.bouton{
    padding-top: 15px;
    }
}

.fctment{
    display: block;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;

    h3{
        margin-top: 50px;
        font-weight: 700;
        font-size: 22px;
    }
    &__liste{
        display: grid;
        grid-template-columns: 1fr;
        margin:auto;
        padding-left: 10px;
        counter-reset: number;
        @media (min-width: 750px) {
            grid-template-columns: repeat(2,1fr);
            gap: 0 50px;
        }
        @media (min-width: 1280px) {
            grid-template-columns: repeat(3,1fr);
            gap: 0 50px;
        }
        li{
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 20px 14px ;        
            font-size: 15px;
            background-color: $color_fond_card;
            border-radius: 20px;
            box-shadow: 5px 5px 15px $color_ombre;           
 
            &:before {
                counter-increment: number 1;
                content: counter(number) "";
                color: white;
                background-color: $color_primaire;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                position: absolute;             
                margin-left: -32px;    
                display: flex;            
                justify-content: center;
                
              }
            &:hover{
                transform: scale(1.03);
                background-color: lighten($color-primaire, 35%);
            }
           i{
                margin-right: 25px;
                margin-left: 25PX;
           }
        }
    }
}
.restaurants{
     display: grid;
     grid-template-columns: 1fr;
     padding-bottom: 40px;
     background-color: $color_fond_card ;
 
     h3{
        width: 50%;
        margin-top: 50px;
        margin-left: 5%;
        font-weight: 700;
        font-size: 22px;
     }
     &__cards{
        display: flex;
         flex-wrap: wrap;
        justify-content: center;
       // @media (min-width: 750px) {
       //     display: grid;
       //     grid-template-columns: 2fr;
           // flex-direction: row;
            //flex-wrap: nowrap;
       //@error//@error     width: 40%;
            //justify-content: space-around;
            //grid-template-columns: repeat(2,1fr);
            //gap: 0 50px;
      //  }
      //  @media (min-width: 1280px) {
      //      flex-direction: row;
            //grid-template-columns: repeat(3,1fr);
           // gap: 0 50px;
       // }
     }
 }
 
 .restaurant__card{
     width: 90%;
     height: 230px;
     margin-bottom: 15px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 2px 2px 15px $color_ombre;  
     color: black;
     &__image{
         position: relative;
    
         img{
             width: 100%;
             height: 160px;
             object-fit: cover;
             border-radius: 15px;
             
         }
         &__new{
             position: absolute;
             top: 15px;
             right: 15px;
             color: $color_police_nouveau;
             background-color: $color_fond_nouveau;
             padding: 6px 12px;
             font-size: 12px;
             font-weight: 500;
             border-radius: 3px;
         }  
     }
     &:hover{
        transform: scale(1.03);
    }
 }
 
 .restaurant__card__infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        margin-left: 10px;
         h4{
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 3px;
         }
         span{
             font-weight: 100;
         }  
     }
  
 .card_icon-coeur{
    margin-right: 40px;
    margin-top: 20px;
    font-size: 16px;
   
 }   
 .fa-heart:hover{
        font-weight: 600;
        background: -webkit-gradient(linear, from(green),to(yellow));
       // background-image: linear-gradient($color_primaire, $color_secondaire);
        //background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //transform: scale(0);
        //transition: all 1000ms;
        }