
.explorer{
    border-top: 2px $color_bordure_ville;
    border-top-style: groove;
    text-align: center;
    background-color: $color_fond_card;
    padding-bottom: 60px;
    &__ville{
        display: flex;
        height: 45px;
        justify-content: center;
        background-color: $color_bordure_ville;
        p{
            margin-left: 20px;
            margin-top: 12px;
            font-weight: 400;
        }
        .fas{
            margin-top: 12px;
        }
    }
    &__lib-reserve{
        font-size: 20px;
        padding-top: 14px;
        margin-left: 30px;
        margin-right: 30px;
        h3{
            margin-bottom: 0;
        }
    }

    &__lib-decouverte{
        p{
            font-weight: 100;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }
    &__btn{
        padding-top: 15px;
        a{
            @extend %bouton;
        }
    }
}

.fctment{
    display: block;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    h3{
        margin-top: 50px;
        font-weight: 700;
        font-size: 22px;
    }
    &__liste{
        margin:auto;
        padding-left: 10px;
        counter-reset: number;
        li{
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 20px 14px ;        
            font-size: 15px;
            background-color: $color_fond_card;
            border-radius: 20px;
            box-shadow: 5px 5px 15px $color_ombre;           
 
            &:before {
                counter-increment: number 1;
                content: counter(number) "";
                color: white;
                background-color: $color_primaire;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                position: absolute;             
                margin-left: -32px;    
                display: flex;            
                justify-content: center;
                
              }
            &:hover{
                transform: scale(1.03);
                background-color: lighten($color-primaire, 35%);
            }
           i{
                margin-right: 25px;
                margin-left: 25PX;
           }
        }
    }
}
.restaurants{
     display: grid;
     padding-bottom: 40px;
     background-color: $color_fond_card ;
     h3{
        width: 50%;
        margin-top: 50px;
        margin-left: 5%;
        font-weight: 700;
        font-size: 22px;
     }
     &__cards{
         display: flex;
         flex-wrap: wrap;
        justify-content: center;
     }
     //@media 
 }
 
 .restaurant__card{
     width: 90%;
     height: 230px;
     margin-bottom: 15px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 2px 2px 15px $color_ombre;  
     color: black;
     &__image{
         position: relative;
    
         img{
             width: 100%;
             height: 160px;
             object-fit: cover;
             border-radius: 15px;
             
         }
         &__new{
             position: absolute;
             top: 15px;
             right: 15px;
             color: $color_police_nouveau;
             background-color: $color_fond_nouveau;
             padding: 6px 12px;
             font-size: 12px;
             font-weight: 500;
             border-radius: 3px;
         }  
     }
     &:hover{
        transform: scale(1.03);
    }
 }
 
 .restaurant__card__infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        margin-left: 10px;
         h4{
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 3px;
         }
         span{
             font-weight: 100;
         }  
     }
  
 .card_icon-coeur{
    margin-right: 40px;
    margin-top: 20px;
    font-size: 16px;
    .fa-heart{
       font-weight: 100;
    }
    :hover{
     background-color: transparent;
     background-image: linear-gradient($color_primaire, $color_secondaire);
     background-clip: text;
     //-webkit-background-clip: text;
     //transform: scale(0);
     //transition: all 1000ms;
       }
     }
