
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //text-align: center;
    
    &__entete{
        display: flex;
        flex-direction: row;
        height: 60px;
        text-align: center;
    }
    &__fleche{
        position: absolute;
        left: 5%;
        top: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    &__logo{
        margin-top: 10px;
        font-size: 28px;
        font-weight: 300;
    }
    img{
        height: 270px;
        width: 100%;
        object-fit: cover;
    }
}

.background{
    background-color: $olor_fond_resto;
}

.resto{
    background-color: $olor_fond_resto;
   // padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;

    top: -70px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    &__nom{
        display: flex;
        flex-direction: row;
        border-radius: 35px 35px 0 0 ;
        position: relative;
        text-align: center;
        width: 100%;
        h2{
            font-family: "Shrikhand";
            font-weight: 500;
            margin-left: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
        }     
    }
    &__coeur{
        .fa-heart{
            position: absolute;
            right: 50px;
            top: 47px;
            font-size: 26px;
        }
    }
    .bouton{
        margin-top: 25px;
    }
}

.menu{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    font-family: "Roboto";
    &__card{
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }
    h3{
        font-size: 15px;
        font-weight: 300;
        position: relative;
        margin-bottom: 20px;
        &:before{
            position: absolute;
            content: "";
            height: 4px;
            width: 45px;
            background-color: $color_trait_sousmenu;
            top: 20px;
         }
    }

    ul{
        padding-left: 0;
        li{
            display: flex;
            background-color: white;
            border-radius: 15px;
            margin-bottom: 12px;
            box-shadow: 0 3px 9px $color_ombre;
        }
    }

    &__contenu{
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        h4{
            margin: 0;
            padding-left: 15px;
            padding-bottom: 5px;
            padding-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span{
            margin: 0;
            font-size: 14px;
            font-weight: 100;
            padding-bottom: 10px;
            padding-left: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    span{
        display: flex;
        align-items: flex-end;
        font-weight: 300;
        margin-left: auto;
        margin-right: 20px;
        padding-bottom: 12px;

    }

    @media (min-width: 750px) {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    @media (min-width: 1280px) {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}
