@import "variables";

@mixin bouton {
    padding: 15px 25px;
    font-size: 15px;
    color: map-get($color,police_btn);
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient(170deg, map-get($color,secondaire), map-get($color,primaire));
    box-shadow: 5px 5px 15px map-get($color,ombre);
}