$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_fond_ville: #EAEAEA;
$color_fond_card: #F6F6F6;
$color_fond_footer: #353535;
$color_fond_nouveau: #99E2D0;
$color_bordure_ville: #615c5c3e;
$color_police_nouveau: green;
$color_police_btn: white;
$color_ombre: #BEBEBE;
